<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>TECHademy</title>
  </head>
  <body>
  <nav class="header">
    <text class="logo">TECHademy</text>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if logged_in}}
      <a id="logout" href="/">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </div>
  </nav>

    <main>
      {{{body}}}
    </main>

  </body>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</html>