<link rel="stylesheet" href="./css/home.css" />

{{#each Blogposts as |blogpost|}}
  <div class="spacing">
    <div class="center">
      <div class="title">
        <h2>{{blogpost.title}}</h2>
      </div>
        <p>Created on {{format_date blogpost.date_created}}</p>
    </div>
  </div>
{{/each}}