<link rel="stylesheet" href="/css/login.css">
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#" id="login-form">
        <input type="text" placeholder="Enter your email" id="loginemail">
        <input type="password" placeholder="Enter your password" id="loginpassword">
        <div class="form">
          <button type="submit" class="button">Login</button>
        </div>
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
          <label for="check">Signup</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <header>Signup</header>
      <form action="#" id="signup-form">
        <input type="text" placeholder="Enter your username" id="signupusername">
        <input type="text" placeholder="Enter your email" id="signupemail">
        <input type="password" placeholder="Enter your password" id="signuppassword">
        <div class="form">
              <button type="submit" class="button">Signup</button>
        </div>
      </form>
      <div class="signup">
        <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>
</body>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>
